# Cached files
**/__pycache__/**

# SQL Databases
*/*.mdf
*/*.ldf

#Pictures
*.png

# Tensorflow directories for logging
ranking/TF_Logs/**
ranking/final_model/**

# Trained & Pickled estimators for serving
compNB_si.clf
knn_si.clf
multiNB_si.clf
svmc_rbf_si.clf
svmc_l1_si.clf
svmc_l1_miles.clf
svmc_rbf_miles.clf

# Data used for training estimators
data_milesembedded_test.dat
data_milesembedded_trian.dat
data_sicat_test.dat
data_sicat_trian.dat
data_sidense_test.dat
data_sidense_trian.dat
miles_concept_features.dat

# Log directories
*/logs/*
**.log

# SQL Scripts
*.sql

# Draw.io files
*.drawio

# Random Files
DatabaseCategorizer (2).xml
test.py
user_input.csv
*.ini
*.csv
*MIL_cat_dataset.dat
*MIL_dataset.dat
*categorical_categories.dat
*vocab_descriptor.txt
*vocab_name.txt
*vocab_ANTIQUE2.txt

# Word files
*.docx

# One note files
*.onetoc2
*.one
OneNote_RecycleBin/**

# Git notes
git notes.txt

# Large files
vocab_ANTIQUE.txt
train_ANTIQUE.tfrecords

