#Cached files
__pycache__/**

#Pictures
*.png

#Tensorflow stuff
ranking/TF_Logs/**
ranking/final_model/**

#SQL Scripts
*.sql

#Draw.io files
*.drawio

#Random Files
DatabaseCategorizer (2).xml
test.py
user_input.csv

#Word files
*.docx

#One note files
*.onetoc2
*.one
OneNote_RecycleBin/**

#Git notes
git notes.txt

# Large files
vocab_ANTIQUE.txt
train_ANTIQUE.tfrecords

